.container-nav{
    max-width: 1400px;
    margin: 0 auto;
    height: 50px;
    background-color: rgba(238, 37, 37, 0.973);
}

.nav-bar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 22px;
    padding: 0 15px;
    color: rgb(241, 241, 8);
}

.find-pokemon{
    margin-right: 10px;
}

.find-pokemon input{
    width: 160px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;  
}

.find{
    width: 32px;
    height: 32px;
    border-radius: 40%;
    margin-left: 4px;
    background-color: black;
    color: rgb(241, 241, 8);
}

@media (min-width: 768px) {
    .container-nav{
        height: 70px;
    }

    .logo{
        font-size: 28px;
    }

    .find-pokemon{
        margin-right: 15px;
    }

    .find-pokemon input{
        width: 180px;
        height: 32px;
    }

    .find{
        padding-bottom: 1px;
        margin-top: 1px;
        margin-left: 10px;
        font-size: 1em;
    }
}

@media (min-width: 992px){
    .container-nav{
        height: 80px;
    }

    .logo{
        padding-left: 40px;
    }

    .find-pokemon{
        padding-right: 20px;
    }

    .find{
        width: 32px;
        height: 32px;
        padding-bottom: 2px;
        border-radius: 8px;
        border: 0;
    }
}

@media (min-width: 1290px){

    .logo{
        font-size: 30px;
        letter-spacing: 3px;
        padding-left: 20px;
    }

    .find-pokemon{
        padding: 0px;
    }
    
    .find{
        padding-top: 2px;
    }

}