.title-container {
    text-align: center;
    padding: 5px 0;
    font-size: 1.4em;
    font-family: Roboto;
    font-weight: bold;
    color: black;
}

.container-grid{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(126px,165px)); 
    grid-template-rows: repeat(10, minmax(162px, 230px));
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.container-btn{
    margin: 10px 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-btn button{
    width: 70px;
    height: 32px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: black;
    color: white;
}

.btn-previus{
    margin-right: 10px;
}

.btn-next{
    margin-left: 10px;
}

@media (min-width: 576px) {
    .title-container {
        font-size: 1.6em;
        padding-top: 10px;
    }

    .container-grid{
        grid-template-columns: repeat(3, minmax(163px,227px)); 
        grid-template-rows: repeat(6, minmax(199px, 300px));
    }

    .container-btn button{
        width: 100px;
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {
    .title-container {
        font-size: 1.8em;
    }

    .container-grid{
        grid-template-columns: repeat(4, minmax(163px,227px)); 
        grid-template-rows: repeat(4, minmax(199px, 300px));
    }
}

@media (min-width: 992px) {
    .title-container {
        font-size: 2.1em;
        padding: 12px 0;
    }

    .container-btn{
        margin-top: 20px;
    }

    .container-btn button{
        width: 110px;
    }
}

@media (min-width: 1290px){
    .title-container {
        font-size: 2.2em;
    }
    
    .container-grid{
        grid-template-columns: repeat(5, minmax(235px,260px)); 
        grid-template-rows: repeat(3, minmax(350px, 400px));
    }

    .container-btn{
        margin-bottom: 20px;
        justify-content: center;
    }

    .container-btn button{
        height: 38px;
    }
}